<a href="https://colab.research.google.com/github/AsaD1109/Prog2kakushin/blob/main/work1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<野球>

今季埼玉西武ライオンズはオリックスの山本由伸投手にボコボコにやられたのでそれをデータとしてDataFrameを作成しました.

In [132]:
#野球が好きなので野球のデータを読み込んだプログラミングを考えていきたい
import pandas as pd
columns = ['選手名','率','打席','打数','本','三振','1B','2B','3B','四','死']
data = [['源田',0.267,17,15,0,2,3,0,1,1,0],
        ['外崎',0.214,18,14,0,4,1,2,0,4,0],
        ['山川',0.214,16,14,1,7,2,0,0,1,1],
        ['オグレディ',0.188,16,16,0,7,2,1,0,0,0],
        ['森',0.167,14,12,0,5,1,1,0,2,0],
        ['栗山',0.154,13,13,0,3,1,1,0,0,0],
        ['愛斗',0.111,9,9,0,1,1,0,0,0,0],
        ['呉',0.125,8,8,0,1,1,0,0,0,0],
        ['川越',0.143,7,7,0,2,1,0,0,0,0],
        ['中村',0.429,7,7,0,3,2,1,0,0,0]]

df = pd.DataFrame(data=data,columns=columns)
print('参考文献'+'https://baseballdata.jp/playerP/1600153_5.html')
print('西武の選手の対山本由伸（対戦打席7打席以上,2022年シーズン)')
df

参考文献https://baseballdata.jp/playerP/1600153_5.html
西武の選手の対山本由伸（対戦打席7打席以上,2022年シーズン)

     選手名      率  打席  打数  本  三振  1B  2B  3B  四  死
0     源田  0.267  17  15  0   2   3   0   1  1  0
1     外崎  0.214  18  14  0   4   1   2   0  4  0
2     山川  0.214  16  14  1   7   2   0   0  1  1
3  オグレディ  0.188  16  16  0   7   2   1   0  0  0
4      森  0.167  14  12  0   5   1   1   0  2  0
5     栗山  0.154  13  13  0   3   1   1   0  0  0
6     愛斗  0.111   9   9  0   1   1   0   0  0  0
7      呉  0.125   8   8  0   1   1   0   0  0  0
8     川越  0.143   7   7  0   2   1   0   0  0  0
9     中村  0.429   7   7  0   3   2   1   0  0  0

今回は１巡目を終えた時点で山本由伸投手からどのくらい点を取ることができるのかシミュレーションしてみようと思いました.

(犠打は考えていません(凡退として扱っています.))

In [142]:
import numpy as np
i = 0
total = 0
O = 0
S = 0
for n in range(len(df)):
  num = np.random.randint(1,df['打席'][i]+1,1)
  if O == 3:
    print('<<攻撃終了>>')
    total = 0 
    O = 0
  if num == df['死'][i]:
    total += 1
    print(str(df['選手名'][i])+' 死球')
    if total >= 4:
      print(str(S + total-3)+'-0')  
      S += (total-3)    
  elif num == df['死'][i]+df['四'][i]:
    total += 1
    print(str(df['選手名'][i])+' 四球')
    if total >= 4:
      print(str(S + total-3)+'-0')  
      S += (total-3)    
  elif num == df['死'][i]+df['四'][i]+df['3B'][i]:
    total += 3
    print(str(df['選手名'][i])+' 三塁打')
    if total >= 4:
      print(str(S + total-3)+'-0')  
      S += (total-3)    
  elif num == df['死'][i]+df['四'][i]+df['3B'][i]+df['2B'][i]:
    total += 2
    print(str(df['選手名'][i])+' 二塁打')
    if total >= 4:
      print(str(S + total-3)+'-0')  
      S += (total-3)    
  elif num == df['死'][i]+df['四'][i]+df['3B'][i]+df['2B'][i]+df['1B'][i]:
    total += 1
    print(str(df['選手名'][i])+' 一塁打')
    if total >= 4:
      print(str(S + total-3)+'-0')  
      S += (total-3)    
  elif num == df['死'][i]+df['四'][i]+df['3B'][i]+df['2B'][i]+df['1B'][i]\
               +df['本'][i]:
    total += 4
    print(str(df['選手名'][i])+' 本塁打') 
    if total >= 4:
      print(str(S + total-3)+'-0')  
      S += (total-3) 
      total = 0
  elif num == df['死'][i]+df['四'][i]+df['3B'][i]+df['2B'][i]+df['1B'][i]\
               +df['本'][i]+df['三振'][i]:
    O += 1
    print(str(df['選手名'][i])+' 三振')  
  else:
    O += 1
    print(str(df['選手名'][i])+' 凡退')
  i += 1 
print('1巡目終了時のスコア '+str(S)+'-0')

源田 凡退
外崎 凡退
山川 凡退
<<攻撃終了>>
オグレディ 凡退
森 凡退
栗山 凡退
<<攻撃終了>>
愛斗 一塁打
呉 一塁打
川越 凡退
中村 三振
1巡目終了時のスコア 0-0